.adv {
  position: relative;
  overflow-x: hidden;

  @media (min-width: $width-tablet) and (width <= 1439px) {
    &::before {
      content: "";
      position: absolute;
      left: -138px;
      top: 263px;
      width: 1200px;
      height: 400px;
      background-image:
        image-set(
          url("../img/clouds-3@2x.webp") type("image/webp") 2x,
          url("../img/clouds-3.webp") type("image/webp") 1x,
          url("../img/clouds-3@2x.png") type("image/png") 2x,
          url("../img/clouds-3.png") type("image/png") 1x,
        );
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      right: -204px;
      bottom: 244px;
      width: 788px;
      height: 263px;
      background-image:
        image-set(
          url("../img/clouds-2@2x.webp") type("image/webp") 2x,
          url("../img/clouds-2.webp") type("image/webp") 1x,
          url("../img/clouds-2@2x.png") type("image/png") 2x,
          url("../img/clouds-2.png") type("image/png") 1x,
        );
      background-repeat: no-repeat;
    }
  }
}

.adv__wrapper {
  @media (width <= 767px) {
    padding-top: 21px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 106px;
  }
}

.adv__title-conteiner {
  position: relative;
  text-align: center;
}

.adv__title-shadow {
  left: 50%;
  transform: translateX(-50%);
}

.adv__title {
  @media (min-width: $width-desktop) {
    padding-top: 29px;
  }
}

.adv__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
  padding-top: 19px;
  list-style: none;

  @media (min-width: $width-tablet) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
  }

  @media (min-width: $width-desktop) {
    display: block;
    justify-content: flex-start;
    gap: 0;
    padding-bottom: 50px;
    flex-wrap: nowrap;
  }
}

.adv__item {
  border: 1px solid rgba(45, 56, 63, 0.1);
  background-color: $color-white;
  z-index: 10;

  @media (min-width: $width-tablet) {
    max-width: 324px;
  }

  @media (min-width: $width-desktop) {
    max-width: 380px;
    min-height: 329px;
    max-height: 329px;
  }
}

.adv__content {
  position: relative;
  padding: 81px 9px 19px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 19px;
    width: 42px;
    height: 42px;
    padding: 8px;
    border: 1px solid $color-blue;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $width-tablet) {
    min-height: 338px;
    padding: 103px 19px 29px;

    &::before {
      width: 48px;
      height: 48px;
      padding: 12px;
      top: 29px;
      background-size: 24px 24px;
    }
  }

  @media (min-width: $width-desktop) {
    padding: 123px 20px 40px;
    min-width: 378px;
    max-width: 380px;

    &::before {
      width: 54px;
      height: 54px;
      top: 39px;
      background-size: 30px 30px;
    }
  }
}

.adv__content--safety::before {
  background-image: url("../img/safety.svg");
}

.adv__content--expertise::before {
  background-image: url("../img/expertise.svg");
}

.adv__content--equipment::before {
  background-image: url("../img/equipment.svg");
}

.adv__content--routes::before {
  background-image: url("../img/routes.svg");
}

.adv__content--nature::before {
  background-image: url("../img/nature.svg");
}

.adv__content h3 {
  margin: 0;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 14px;
  }

  @media (min-width: $width-desktop) {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 15px;
  }
}

.adv__content p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: $width-tablet) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $width-desktop) {
    max-height: 132px;
    overflow-y: auto;
  }
}

.adv__content br {
  @media (min-width: $width-desktop) {
    display: none;
  }
}

.adv__content--expertise br {
  @media (min-width: $width-tablet) {
    display: none;
  }
}

.adv__buttons {
  display: none;

  @media (min-width: $width-desktop) {
    position: relative;
    display: flex;
    margin: 0 auto;
  }
}

.adv__item--double {
  @media (width <= 1439px) {
    display: none;
  }
}
