.instructors {
  position: relative;
  padding: 29px 0 26px;

  @media (min-width: $width-tablet) {
    padding-top: 25px;
  }

  @media (min-width: $width-desktop) {
    padding: 63px 0 58px;
  }
}

.instructors__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 22px;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;

  @media (min-width: $width-tablet) {
    padding-bottom: 32px;
    font-size: 25px;
    line-height: 25px;
    height: 35px;
    box-sizing: content-box;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 16px;
    font-size: 35px;
    line-height: 35px;
  }
}

.instructors__swiper-buttons {
  @media (min-width: $width-tablet) {
    right: 0;
    top: 27px;
  }

  @media (min-width: $width-desktop) {
    top: 59px;
  }
}
