.slide-reviews {
  min-height: 484px;
  max-height: 484px;
  max-width: 290px;
  padding: 18px 19px 0;
  background-color: $color-white;
  border: 1px solid $color-white;
  box-shadow: 0 0 20px 0 rgba(28, 51, 115, 0.1);

  @media (min-width: $width-tablet) {
    max-width: 565px;
    min-height: 277px;
    max-height: 277px;
    padding-right: 30px;
    border: none;
    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  }

  @media (min-width: $width-desktop) {
    padding-right: 40px;
    max-width: 700px;
    min-height: 293px;
    max-height: 293px;
    box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  }
}

.slide-reviews__content {
  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 186px 299px;
    column-gap: 30px;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 258px 352px;
  }
}

.slide-reviews__img {
  display: block;

  @media (min-width: $width-desktop) {
    margin-top: -1px;
  }
}

.slide-reviews p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $width-tablet) {
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    font-size: 14px;
    line-height: 22px;
  }
}

.slide-reviews p:nth-child(2) {
  @media (min-width: $width-tablet) {
    padding-top: 2px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 8px;
  }
}

.slide-reviews__text br {
  @media (width <= 1439px) {
    display: none;
  }
}

.slide-reviews__name {
  padding: 16px 0 3px;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;

  @media (min-width: $width-tablet) {
    padding: 26px 0 1px;
    font-size: 13px;
    line-height: 13px;
  }

  @media (min-width: $width-desktop) {
    padding: 4px 0 3px;
  }
}

.slide-reviews__city {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.slide-reviews__text {
  margin-top: 19px;
  height: 208px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $width-tablet) {
    margin: 0;
    padding-top: 2px;
    height: 174px;
  }

  @media (min-width: $width-desktop) {
    height: 208px;
    justify-content: flex-start;
    padding: 0;
  }
}

.slide-reviews__info {
  @media (min-width: $width-desktop) {
    padding-bottom: 10px;
  }
}
