.hero__slide {
  width: 100%;
  min-height: 568px;
  max-height: 568px;
  visibility: hidden;
  background-color: rgba(2, 102, 193, 0.5);

  @media (min-width: $width-tablet) {
    height: 1034px;
    min-height: 1034px;
  }

  @media (min-width: $width-desktop) {
    height: 800px;
    min-height: 800px;
  }
}

.swiper-slide-active {
  visibility: visible;
}

// Фоны

.slide-hero--first {
  background-image:
    image-set(
      url("../../img/mobile-hero-slide-1@2x.webp") type("image/webp") 2x,
      url("../../img/mobile-hero-slide-1.webp") type("image/webp") 1x,
      url("../../img/mobile-hero-slide-1@2x.jpg") type("image/jpg") 2x,
      url("../../img/mobile-hero-slide-1.jpg") type("image/jpg") 1x
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;

  @media (min-width: $width-tablet) {
    background-image:
      image-set(
        url("../../img/tablet-hero-slide-1@2x.webp") type("image/webp") 2x,
        url("../../img/tablet-hero-slide-1.webp") type("image/webp") 1x,
        url("../../img/tablet-hero-slide-1@2x.jpg") type("image/jpg") 2x,
        url("../../img/tablet-hero-slide-1.jpg") type("image/jpg") 1x
      );
  }

  @media (min-width: $width-desktop) {
    background-image:
      image-set(
        url("../../img/desktop-hero-slide-1@2x.webp") type("image/webp") 2x,
        url("../../img/desktop-hero-slide-1.webp") type("image/webp") 1x,
        url("../../img/desktop-hero-slide-1@2x.jpg") type("image/jpg") 2x,
        url("../../img/desktop-hero-slide-1.jpg") type("image/jpg") 1x
      );
  }
}

.slide-hero--second {
  background-image:
    image-set(
      url("../../img/mobile-hero-slide-2@2x.webp") type("image/webp") 2x,
      url("../../img/mobile-hero-slide-2.webp") type("image/webp") 1x,
      url("../../img/mobile-hero-slide-2@2x.jpg") type("image/jpg") 2x,
      url("../../img/mobile-hero-slide-2.jpg") type("image/jpg") 1x
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;

  @media (min-width: $width-tablet) {
    background-image:
      image-set(
        url("../../img/tablet-hero-slide-2@2x.webp") type("image/webp") 2x,
        url("../../img/tablet-hero-slide-2.webp") type("image/webp") 1x,
        url("../../img/tablet-hero-slide-2@2x.jpg") type("image/jpg") 2x,
        url("../../img/tablet-hero-slide-2.jpg") type("image/jpg") 1x
      );
  }

  @media (min-width: $width-desktop) {
    background-image:
      image-set(
        url("../../img/desktop-hero-slide-2@2x.webp") type("image/webp") 2x,
        url("../../img/desktop-hero-slide-2.webp") type("image/webp") 1x,
        url("../../img/desktop-hero-slide-2@2x.jpg") type("image/jpg") 2x,
        url("../../img/desktop-hero-slide-2.jpg") type("image/jpg") 1x
      );
  }
}

.slide-hero--third {
  background-image:
    image-set(
      url("../../img/mobile-hero-slide-3@2x.webp") type("image/webp") 2x,
      url("../../img/mobile-hero-slide-3.webp") type("image/webp") 1x,
      url("../../img/mobile-hero-slide-3@2x.jpg") type("image/jpg") 2x,
      url("../../img/mobile-hero-slide-3.jpg") type("image/jpg") 1x
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;

  @media (min-width: $width-tablet) {
    background-image:
      image-set(
        url("../../img/tablet-hero-slide-3@2x.webp") type("image/webp") 2x,
        url("../../img/tablet-hero-slide-3.webp") type("image/webp") 1x,
        url("../../img/tablet-hero-slide-3@2x.jpg") type("image/jpg") 2x,
        url("../../img/tablet-hero-slide-3.jpg") type("image/jpg") 1x
      );
  }

  @media (min-width: $width-desktop) {
    background-image:
      image-set(
        url("../../img/desktop-hero-slide-3@2x.webp") type("image/webp") 2x,
        url("../../img/desktop-hero-slide-3.webp") type("image/webp") 1x,
        url("../../img/desktop-hero-slide-3@2x.jpg") type("image/jpg") 2x,
        url("../../img/desktop-hero-slide-3.jpg") type("image/jpg") 1x
      );
  }
}

.slide-hero__link {
  display: block;
  width: 180px;
  padding: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  color: $color-white;
  background-color: $color-blue;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-white;
    border-color: #1c3374;
    color: #1c3374;
  }

  &:focus {
    background-color: $color-white;
    color: #1c3374;
    outline: none;
  }

  &:active {
    background-color: #1c3374;
    color: $color-white;
  }
}

.slide-hero__link.is-disabled,
.slide-hero__link:not([href]) {
  background-color: #999999;
  color: $color-white;
  pointer-events: none;
}

.slide-hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 145px 0;
  color: $color-white;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding: 342px 45px;
  }

  @media (min-width: $width-desktop) {
    padding: 200px 120px 80px;
    align-items: flex-start;
    text-align: start;
  }
}

.slide-hero--second .slide-hero__content {
  @media (min-width: $width-tablet) and (width <= 1439px) {
    padding-top: 137px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -67px;
      transform: translateX(-50%);
      width: 422px;
      height: 365px;
      background-image:
        image-set(
          url("../../img/hero-slide-photo-tabled@2x.webp") type("image/webp") 2x,
          url("../../img/hero-slide-photo-tabled.webp") type("image/webp") 1x,
          url("../../img/hero-slide-photo-tabled@2x.png") type("image/png") 2x,
          url("../../img/hero-slide-photo-tabled.png") type("image/png") 1x
        );
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: bottom;
      z-index: 10;
    }
  }

  @media (min-width: $width-desktop) {
    &::after {
      content: "";
      position: absolute;
      right: 115px;
      top: 195px;
      width: 410px;
      height: 459px;
      background-image:
        image-set(
          url("../../img/hero-slide-photo-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/hero-slide-photo-desktop.webp") type("image/webp") 1x,
          url("../../img/hero-slide-photo-desktop@2x.png") type("image/png") 2x,
          url("../../img/hero-slide-photo-desktop.png") type("image/png") 1x
        );
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: bottom;
    }
  }
}

.slide-hero__content h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;

  @media (min-width: $width-tablet) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $width-desktop) {
    font-size: 77px;
    line-height: 77px;
  }
}

.slide-hero--first h2 {
  @media (min-width: $width-desktop) {
    max-width: 780px;
  }
}

.slide-hero--second h2 {
  @media (min-width: $width-desktop) {
    max-width: 806px;
  }
}

.slide-hero--third h2 {
  @media (min-width: $width-desktop) {
    max-width: 994px;
  }
}

.slide-hero__content p {
  padding-top: 15px;
  padding-bottom: 60px;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $width-tablet) {
    width: 500px;
    padding-top: 13px;
    padding-bottom: 37px;
    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    width: 464px;
    padding-top: 23px;
  }
}

.slide-hero__info {
  display: none;

  @media (min-width: $width-desktop) {
    display: flex;
    gap: 10px;
    margin-top: 134px;
  }
}

.slide-hero__duration,
.slide-hero__complexity {
  position: relative;
  display: block;
  padding: 13px 20px 13px 38px;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 19px;
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
  }
}

.slide-hero__duration::before {
  background-image: url("../../img/moon.svg");
}

.slide-hero__complexity::before {
  background-image: url("../../img/level.svg");
}
