.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 175px;

  @media (min-width: $width-tablet) {
    max-width: 220px;
  }

  @media (min-width: $width-desktop) {
    gap: 15px;
    width: 138px;
    padding-top: 4px;
    justify-content: flex-start;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 30px;
  background-color: $color-white;
  border: 1px solid rgba(45, 56, 63, 0.3);
  fill: $color-primary;

  &:hover {
    border-color: $color-primary;
  }

  &:focus {
    border-color: transparent;
  }

  &:active {
    background-color: $color-blue;
    fill: $color-white;
  }

  @media (min-width: $width-desktop) {
    width: 30px;
  }
}

.socials__link.is-disabled,
.socials__link:not([href]) {
  border-color: $color-primary;
  opacity: 0.3;
  pointer-events: none;
}
