body {
  min-width: 320px;
  font-family: "Montserrat", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-primary;
  background-color: $color-white;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 15px;

  @media (min-width: $width-tablet) {
    max-width: $width-tablet;
    padding: 40px 45px;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    padding: 100px 120px;
  }
}

.overlay {
  overflow: hidden;
}

.overlay main {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(45, 56, 63, 0.6);
    z-index: 15;
  }
}
